<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'json_filter' %}" method="get" name="filter">
    <div class="left-side my-4">
        <h3 class="sear-head editContent">Жанры</h3>
        <ul class="w3layouts-box-list">
            {% for genre in genres %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="genre" value="{{ genre.id }}">
                    <span class="span editContent">{{ genre.name }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- // preference -->
    <!-- discounts -->

    <div class="left-side">
        <h3 class="sear-head editContent">Год</h3>
        <ul class="w3layouts-box-list">
            {% for movie in view.get_years %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="year" value="{{ movie.year }}">
                    <span class="span editContent">{{ movie.year }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit">Найти</button>
</form>

<script src="{% static 'js/scripts.js' %}?{{ now }}"></script>
<script src="http://twitter.github.io/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>
</body>
</html>