{% extends "table/index.html" %}

{% block content %}
{#    <h1>hello, this is filter.html</h1>#}
{#    <form method="get">#}
{#        {{ filter.form.as_p }}#}
{#        <input type="submit" />#}
{#    </form>#}


    <form method="get">
        <p>
    <label for="id_title">column:</label>
    <select name="title" id="id_title">
  <option value="">---------</option>

  <option value="1">title</option>

  <option value="2" selected>count</option>

  <option value="3">distance</option>

</select>


  </p>


  <p>
    <label for="id_count">condition:</label>
    <select name="count" id="id_count">
  <option value="">---------</option>

  <option value="1">&gt;</option>

  <option value="2">&lt;</option>

  <option value="3" selected>==</option>

  <option value="4">in</option>

</select>
  </p>
  <p>
    <label for="id_distance">Value:</label>
    <input type="text" name="value" id="id_distance">

  </p>
        <input type="submit" />
    </form>
{#    {% for obj in filter.qs %}#}
    {% for obj in filter %}
        {{ obj.title }} - ${{ obj.count }}<br />
    {% endfor %}
{% endblock %}